doctype html
html
    head
        title なちゅやちゅみ!
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        style.
            body {
                font-family: sans-serif;
                text-align: center;
                margin: 0 auto;
                max-width: 800px;
            }
        script(src='Chart.min.js')
        script(src='myChart.js' async)
    body
        h1 なちゅやちゅみ!
        p @hideo54の夏休み活動状況ページ
        section#two
            h2 経過日数
            canvas#days
        section
            h2 夏休みの課題
            canvas#homework
